<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysExamMapper">
    
    <resultMap type="SysExam" id="SysExamResult">
        <result property="examId"    column="exam_id"    />
        <result property="examName"    column="exam_name"    />
        <result property="grade"    column="grade"    />
        <result property="semester"    column="semester"    />
        <result property="examDate"    column="exam_date"    />
        <result property="examStatus"    column="exam_status"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysExamVo">
        select exam_id, exam_name, grade, semester, exam_date, exam_status, remark from sys_exam
    </sql>

    <select id="selectSysExamList" parameterType="SysExam" resultMap="SysExamResult">
        <include refid="selectSysExamVo"/>
        <where>  
            <if test="examName != null  and examName != ''"> and exam_name like concat('%', #{examName}, '%')</if>
            <if test="grade != null  and grade != ''"> and grade like concat('%', #{grade}, '%')</if>
            <if test="semester != null  and semester != ''"> and semester like concat('%', #{semester}, '%')</if>
            <if test="examDate != null"> and exam_date = #{examDate}</if>
            <if test="examStatus != null  and examStatus != ''"> and exam_status = #{examStatus}</if>
        </where>
    </select>
    
    <select id="selectSysExamByExamId" parameterType="Long" resultMap="SysExamResult">
        <include refid="selectSysExamVo"/>
        where exam_id = #{examId}
    </select>

    <!-- 根据唯一键精确查找考试，目的是为了保证考试的唯一性 -->
    <select id="selectSysExamByNameGradeSemester" parameterType="SysExam" resultMap="SysExamResult">
        <include refid="selectSysExamVo"/>
        where exam_name = #{examName}
            and semester = #{semester}
            and grade = #{grade}
        limit 1
    </select>

    <!-- 根据名称和年级查找考试 -->
    <select id="selectSysExamByNameAndGrade" resultMap="SysExamResult">
        <include refid="selectSysExamVo"/>
        where exam_name = #{examName}
            and grade = #{grade}
    </select>

    <insert id="insertSysExam" parameterType="SysExam" useGeneratedKeys="true" keyProperty="examId">
        insert into sys_exam
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="examName != null and examName != ''">exam_name,</if>
            <if test="grade != null and grade != ''">grade,</if>
            <if test="semester != null and semester != ''">semester,</if>
            <if test="examDate != null">exam_date,</if>
            <if test="examStatus != null">exam_status,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="examName != null and examName != ''">#{examName},</if>
            <if test="grade != null and grade != ''">#{grade},</if>
            <if test="semester != null and semester != ''">#{semester},</if>
            <if test="examDate != null">#{examDate},</if>
            <if test="examStatus != null">#{examStatus},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysExam" parameterType="SysExam">
        update sys_exam
        <trim prefix="SET" suffixOverrides=",">
            <if test="examName != null and examName != ''">exam_name = #{examName},</if>
            <if test="grade != null and grade != ''">grade = #{grade},</if>
            <if test="semester != null and semester != ''">semester = #{semester},</if>
            <if test="examDate != null">exam_date = #{examDate},</if>
            <if test="examStatus != null">exam_status = #{examStatus},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where exam_id = #{examId}
    </update>

    <delete id="deleteSysExamByExamId" parameterType="Long">
        delete from sys_exam where exam_id = #{examId}
    </delete>

    <delete id="deleteSysExamByExamIds" parameterType="String">
        delete from sys_exam where exam_id in
        <foreach item="examId" collection="array" open="(" separator="," close=")">
            #{examId}
        </foreach>
    </delete>
</mapper>
